### **Quick Introduction to Python**
---

**Course Details**

This notebook course provides a very quick introduction to the fundamentals of the Python programming language.<br/><br/>

**Course Website**

https://knowledgebase.hyperlearning.ai/en/courses/python-taster<br/><br/>

**Requirements**

*   Desktop or laptop computer (Windows, Mac or Linux).
*   Internet browser ([Google Chrome](https://www.google.com/intl/en_uk/chrome/) recommended).
*   Stable internet connection if using [Google Colaboratory](https://colab.research.google.com) (recommended).
*   [Google account](https://support.google.com/accounts/answer/27441?hl=en) if using [Google Colaboratory](https://colab.research.google.com) (recommended).<br/><br/>

**Contents**

1.   What is Python?
2.   Basic data types and variables.
3.   Basic operators.
4.   Basic conditional statements.
5.   Basic functions.
6.   Next steps.<br/><br/>

**Outcomes**

*   The ability to develop simple software applications in Python 3.
*   An understanding of basic computing concepts including basic data types, control flow and functions.<br/><br/>
---

#### **1. What is Python**

[Python](https://www.python.org) is an **open-source general purpose programming language**. This means that it can be used to develop software for a wide variety of tasks. Today Python is used to create and maintain a huge range of computer applications and services including website development, cyber security monitoring, hacking (both ethical and non-ethical), performing data analysis and media processing, robotics and developing artificial intelligence (AI) systems. Python is a popular choice for those starting to learn computer programming and computer science fundamentals for the very first time because it is easy to learn, intuitive and is supported by an active global community of software engineers, data scientists and academics.

#### **2. Basic data types and variables**

In [1]:
# String / text
my_first_string = 'Hello world!'
print(my_first_string)

Hello world!

In [4]:
# Numbers
my_first_number = 10
my_second_number = 3.14159

In [5]:
# Booleans
my_first_boolean = True
my_second_boolean = False

**Variable naming rules**

1.   Can only include letters, numbers and `_`.
2.   Cannot start with a number.

**Variable naming conventions**

1.   All lowercase (variable names are case-sensitive).
2.   Separate words with the underscore character `_`.
3.   Variable names should be short and meaningful.

In [6]:
# Examples of compliant and good variable names
first_name = 'Jillur'
last_name = 'Quddus'
age = 30
male = True

print(f'{first_name} {last_name} is {age} years old.')

Jillur Quddus is 30 years old.

#### **3. Basic operators**

In [9]:
# Arithmetic operators
print(3 + 7)
print(10 - 6)
print(2 * 3)
print(10 / 2)

10
4
6
5.0

In [10]:
x = 2
y = 10
z = x * y
print(z)

20

In [11]:
# Comparison operators
print(10 == 100)
print(2 > 10)
print(10 < 100)
print(10 >= 10)
print(20 <= 19)

False
False
True
True
False

#### **4. Basic conditional statements**

In [12]:
# If statement
age = 30
if age >= 18:
  print("You are allowed to vote in UK elections.")

You are allowed to vote in UK elections

In [ ]:
if age >= 18:
  print("You are allowed to vote in UK elections")
else:
  print("You are NOT allowed to vote in UK elections.")

#### **5. Basic functions**

In [13]:
# Print function
name = 'My name is Jillur Quddus'
print(name)

My name is Jillur Quddus

In [15]:
# Defining your own functions
def add(x, y):
  sum = x + y
  return sum

In [16]:
# Running your own functions
add(10, 20)

30

#### **6. Next steps**

Take our free [Introduction to Python](https://knowledgebase.hyperlearning.ai/en/courses/introduction-to-python) course and become a certified Python developer!